@use '../utils/variables' as colors;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 16px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5px;
  height: 100%;
}

body {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  background-color: colors.$body-color;
  color: colors.$text-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 100dvh;
  height: 100%;
}

a {
  text-decoration: none;
  color: colors.$text-color;
}

ul {
  list-style: none;
}
