@use '../../../assets/styles/variables' as colors;
@import '../../../assets/styles/functions';

:host {
  display: inline-flex;

  .footer {
    width: 100%;
    border-top: 1px solid colors.$primary-color;

    &__container {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}
