<div class="content">
  <h3 class="content__title">
    {{ title() }}
  </h3>
  @if (isLoading()) {
    <cine-corn-loading-movie-card [count]="8" />
  } @else {
    @if (movies() && movies().length > 0) {
      <ul class="responsive-list">
        @for (movie of movies(); track movie.id) {
          <li>
            <cine-corn-movie-card
              [movie]="movie"
              (handleFav)="handleFav()"
              (handleList)="handleList()"
            />
          </li>
        }
      </ul>
    } @else {
      <div class="content__none">
        <p>No movies available here.</p>
        <a button-contained-primary routerLink="{{ homePath }}">Go to Home</a>
      </div>
    }
  }
</div>
