@use '../../../assets/styles/utils/variables' as colors;
@import '../../../assets/styles/utils/functions';

:host {
  display: inline-flex;
  width: 100%;

  .content {
    &__title {
      display: block;
      font-size: 2rem;
      font-weight: 500;
      color: colors.$neutral-200;
      margin-bottom: 16px;
      position: relative;
      @include opacity-border(bottom, 0px, colors.$white-50);
    }

    &__movies {
      .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;

        li {
          @include calculate-width(6, 16px);
        }
      }
    }
  }
}
