@use '../../../assets/styles/variables' as colors;

:host {
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 999;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 16px;

    &__image {
      flex: 1 1 33.333%;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &__nav {
      flex: 1 1 33.333%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        li {
          font-size: 1.25rem;

          a {
            padding: 10px 16px;
            opacity: 0.75;
            border-bottom: 2.5px solid transparent;
            border-radius: 0.75rem;
            transition: all 0.35s ease;
          }

          &.active a {
            color: colors.$border-color;
            opacity: 1;
            border-bottom: 2.5px solid colors.$border-color;
          }

          &:hover:is(:not(.active)) a {
            color: colors.$hover-color;
            opacity: 1;
            border-bottom: 2.5px solid colors.$hover-color;
          }
        }
      }
    }

    &__actions {
      flex: 1 1 33.333%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
