<header ngClass="{{ 'header' + headerClass }}">
  <div class="header__container responsive-container">
    <div class="header__container--link">
      <a routerLink="{{ homePath }}" routerLinkActive="active">
        <img src="assets/images/cine-corn-icon.png" alt="CineCorn" />
      </a>
    </div>
    <nav class="header__container--nav">
      <ul>
        <li
          *ngFor="let item of menuItems"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a mat-button routerLink="{{ item.path }}">{{ item.name }}</a>
        </li>
      </ul>
    </nav>
    <div class="header__container--actions">
      <a mat-raised-button routerLink="{{ loginPath }}">
        <span>Login</span>
      </a>
      <a mat-raised-button routerLink="{{ registerPath }}">
        <span>Register</span>
      </a>
    </div>
  </div>
</header>
