@use '../../../assets/styles/utils/variables' as colors;

:host {
  display: contents;

  .drawer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: fixed;
    inset: 0;
    top: 70px;
    height: 0;
    z-index: 9995;
    pointer-events: none;
    transition: all 0.35s ease;
    overflow: hidden;

    &__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 24px;
      background-color: colors.$body-color;
      transform: translateY(0);
    }

    &.open {
      pointer-events: all;
      height: calc(100% - 70px);
    }
  }
}
