<div class="details responsive-container">
  <div class="details__header">
    <div
      class="details__header--img fade-in {{ !isBannerLoaded ? 'hidden' : '' }}"
      style="--animation-delay: 250ms"
    >
      <img
        [src]="movieDetails?.bannerImage ?? ''"
        [alt]="movieDetails?.name ?? ''"
        loading="lazy"
        (load)="bannerLoad()"
      />
      @if (!isBannerLoaded) {
        <ngx-skeleton-loader
          count="1"
          animation="progress"
          [theme]="{
            position: 'absolute',
            inset: 0,
            width: 'auto',
            height: 'auto',
            marginBottom: 0,
            borderRadius: '10px',
            backgroundColor: 'rgba(255, 255, 255, 0.4)',
          }"
        />
      }
    </div>
    <div class="fade-in details__header--title" style="--animation-delay: 500ms">
      <div class="details__header--title-box">
        <span>
          @if (!isLoadingMovieDetails) {
            {{ movieDetails?.name }}
          } @else {
            <ngx-skeleton-loader
              count="1"
              animation="progress"
              [theme]="{
                width: '200px',
                height: '21px',
                marginBottom: 0,
                borderRadius: '10px',
                backgroundColor: 'rgba(255, 255, 255, 0.4)',
              }"
            />
          }
        </span>
      </div>
    </div>
  </div>
  <div class="details__divider fade-in" style="--animation-delay: 750ms"></div>
  <div class="details__content">
    <div class="details__content--paper">
      <div class="details__content--paper-img fade-in {{ !isPosterLoaded ? 'hidden' : '' }}">
        <img
          [src]="movieDetails?.posterImage ?? ''"
          [alt]="movieDetails?.name ?? ''"
          loading="lazy"
          (load)="posterLoad()"
        />
        @if (!isPosterLoaded) {
          <ngx-skeleton-loader
            count="1"
            animation="progress"
            [theme]="{
              position: 'absolute',
              inset: 0,
              width: 'auto',
              height: 'auto',
              marginBottom: 0,
              borderRadius: '10px',
              backgroundColor: 'rgba(255, 255, 255, 0.4)',
            }"
          />
        }
      </div>
      <div class="box">
        <cine-corn-movie-detail-text
          class="fade-in"
          title="Description"
          [subtitle]="movieDetails?.description ?? ''"
          [isLoading]="isLoadingMovieDetails"
          style="--animation-delay: 1250ms"
        />
        <cine-corn-movie-detail-text
          class="fade-in"
          title="Release Date"
          [subtitle]="releaseDate"
          [isLoading]="isLoadingMovieDetails"
          style="--animation-delay: 1500ms"
        />
        <cine-corn-movie-detail-text
          class="fade-in"
          title="Run Time"
          [subtitle]="runTime"
          [isLoading]="isLoadingMovieDetails"
          style="--animation-delay: 1750ms"
        />
        <cine-corn-movie-detail-text
          class="fade-in"
          title="Stars"
          [subtitle]="starNames"
          [isLoading]="isLoadingMovieDetails"
          style="--animation-delay: 2000ms"
        />
        <cine-corn-movie-detail-text
          class="fade-in"
          title="Genres"
          [subtitle]="genreNames"
          [isLoading]="isLoadingMovieDetails"
          style="--animation-delay: 2250ms"
        />
      </div>
    </div>
  </div>
</div>
