@use '../../../assets/styles/utils/variables' as colors;

:host {
  display: inline-flex;
  width: 100%;
  margin-top: 10%;

  .login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 24px;

      &__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 8px;
      }
    }
  }
}
