<div class="card">
  <div class="card__overlay"></div>
  <a routerLink="{{ movieDetailsPath }}" class="card__link"></a>
  <div class="card__header">
    <button
      class="card__header--action"
      (mouseenter)="isHovered = true"
      (mouseleave)="isHovered = false"
    >
      <i class="material-icons">{{ isFavorite || isHovered ? 'favorite' : 'favorite_outline' }}</i>
    </button>
  </div>
  <picture class="card__image">
    <img src="{{ movie.imageSrc }}" alt="dune" />
  </picture>
  <div class="card__footer">
    <div class="card__footer--title">
      <span>{{ movie.title }}</span>
    </div>
    <div class="card__footer--subtitle">
      <span>{{ movie.year }}</span>
      <span>{{ movie.point }}</span>
    </div>
  </div>
</div>
