<a class="card" routerLink="{{ moviePath }}">
  <div class="card__header">
    <cine-corn-icon icon="star" color="#ffa53b" />
    <span>{{ movie()?.point }}</span>
  </div>
  <div class="card__image" [class.hidden]="!isImageLoaded">
    <img [src]="movie()?.posterImage" [alt]="movie()?.name" loading="lazy" (load)="load()" />
    @if (!isImageLoaded) {
      <ngx-skeleton-loader
        count="1"
        animation="progress"
        [theme]="{
          position: 'absolute',
          inset: 0,
          width: 'auto',
          height: 'auto',
          marginBottom: 0,
          borderRadius: '6px',
          backgroundColor: 'rgba(255, 255, 255, 0.4)',
          cursor: 'pointer',
        }"
      />
    }
  </div>
  <div class="card__footer">
    <span>{{ movie()?.name }}</span>
  </div>
  <div class="card__action">
    <cine-corn-icon
      button-contained-primary
      icon-button
      icon="favorite"
      size="16px"
      [filled]="movie()?.isFavorite ?? false"
      (click)="handleFavorite($event)"
    />
    <cine-corn-icon
      button-contained-primary
      icon-button
      size="16px"
      [icon]="listIcon"
      [filled]="movie()?.isAddedToList ?? false"
      (click)="handleList($event)"
    />
  </div>
</a>
