<div class="register responsive-container">
  <cine-corn-card class="fade-in" style="--animation-delay: 150ms">
    <form class="form">
      <div class="form__box">
        <label class="fade-in" style="--animation-delay: 300ms">Username</label>
        <input
          input-outlined-default
          placeholder="your username"
          class="fade-in"
          style="--animation-delay: 450ms"
        />
      </div>
      <div class="form__box">
        <label class="fade-in" style="--animation-delay: 600ms">Password</label>
        <input
          input-outlined-default
          placeholder="******"
          class="fade-in"
          style="--animation-delay: 750ms"
        />
      </div>
      <div class="form__box">
        <label class="fade-in" style="--animation-delay: 900ms">Re-Password</label>
        <input
          input-outlined-default
          placeholder="******"
          class="fade-in"
          style="--animation-delay: 1050ms"
        />
      </div>
      <button
        button-contained-primary
        type="submit"
        class="fade-in"
        style="--animation-delay: 1200ms"
      >
        Register
      </button>
    </form>
  </cine-corn-card>
</div>
