<div class="register responsive-container">
  <cine-corn-card class="fade-in" style="--animation-delay: 150ms">
    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form__box">
        <label
          for="username"
          class="fade-in"
          [class.error-text]="username?.invalid && username?.touched"
          style="--animation-delay: 300ms"
          >Username<span class="error-text"> *</span></label
        >
        <input
          input-outlined-default
          #usernameInput
          id="username"
          formControlName="username"
          [attr.error]="username?.invalid && username?.touched"
          placeholder="your username"
          class="fade-in"
          style="--animation-delay: 450ms"
          autocomplete="off"
        />
        @if (username?.invalid && username?.touched && username?.errors) {
          <small class="error-text">{{ getErrorMessage(username) }}</small>
        }
      </div>
      <div class="form__box">
        <label
          for="password"
          class="fade-in"
          [class.error-text]="password?.invalid && password?.touched"
          style="--animation-delay: 600ms"
          >Password<span class="error-text"> *</span></label
        >
        <div class="form__box--input fade-in" style="--animation-delay: 750ms">
          <input
            #passwordInput
            id="password"
            formControlName="password"
            [attr.error]="password?.invalid && password?.touched"
            input-outlined-default
            with-icon
            [type]="passwordType"
            [placeholder]="passwordPlaceholder"
            autocomplete="off"
          />
          <cine-corn-icon
            button-text-primary
            icon-button
            class="form__box--input-icon"
            [icon]="passwordIcon"
            [skeleton]="false"
            (click)="handleVisibilityPassword()"
          />
        </div>
        @if (password?.invalid && password?.touched && password?.errors) {
          <small class="error-text">{{ getErrorMessage(password) }}</small>
        }
      </div>
      <div class="form__box">
        <label
          for="confirmPassword"
          class="fade-in"
          [class.error-text]="confirmPassword?.invalid && confirmPassword?.touched"
          style="--animation-delay: 900ms"
          >Confirm Password<span class="error-text"> *</span></label
        >
        <div class="form__box--input fade-in" style="--animation-delay: 1050ms">
          <input
            #confirmPasswordInput
            id="confirmPassword"
            formControlName="confirmPassword"
            [attr.error]="confirmPassword?.invalid && confirmPassword?.touched"
            input-outlined-default
            with-icon
            [type]="confirmPasswordType"
            [placeholder]="confirmPasswordPlaceholder"
            autocomplete="off"
          />
          <cine-corn-icon
            button-text-primary
            icon-button
            class="form__box--input-icon"
            [icon]="confirmPasswordIcon"
            [skeleton]="false"
            (click)="handleVisibilityConfirmPassword()"
          />
        </div>
        @if (confirmPassword?.invalid && confirmPassword?.touched && confirmPassword?.errors) {
          <small class="error-text">{{ getErrorMessage(confirmPassword) }}</small>
        }
      </div>
      <button
        button-contained-primary
        type="submit"
        class="fade-in"
        style="--animation-delay: 1200ms"
      >
        Register
      </button>
    </form>
  </cine-corn-card>
</div>
