<div class="home">
  <div class="home__video">
    <div class="home__video--overlay"></div>
    <video #videoPlayer autoplay muted loop playsinline poster="assets/images/featureHome.jpg">
      <source src="assets/videos/featureHome.mp4" type="video/mp4" />
      Your browser does not support this video.
    </video>
    <button class="volume" (click)="handleVolumeVideo()">
      <mat-icon>{{ isMuted ? 'volume_off' : 'volume_up' }}</mat-icon>
    </button>
    <button class="play" (click)="handlePlayVideo()">
      <mat-icon>{{ play ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
  </div>
</div>
