<div class="home">
  <div class="home__video">
    <div class="home__video--overlay"></div>
    <video #videoPlayer autoplay muted loop playsinline poster="assets/images/featureHome.jpg">
      <source src="assets/videos/featureHome.mp4" type="video/mp4" />
      Your browser does not support this video.
    </video>
    <button
      mat-icon-button
      matTooltip="{{ play ? 'Pause' : 'Play' }}"
      class="play"
      (click)="handlePlayVideo()"
    >
      <mat-icon fontIcon="{{ play ? 'pause' : 'play_arrow' }}"></mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="{{ isMuted ? 'Volume Off' : 'Volume On' }}"
      class="volume"
      (click)="handleVolumeVideo()"
    >
      <mat-icon fontIcon="{{ isMuted ? 'volume_off' : 'volume_up' }}"></mat-icon>
    </button>
  </div>
  <div class="home__container responsive-container">
    <div class="home__container--featured">
      <span class="home__container--featured-title">Featured Movies</span>
      <ul class="home__container--featured-list">
        <li *ngFor="let movie of movies">
          <cine-corn-movie-card [movie]="movie" />
        </li>
      </ul>
    </div>
  </div>
</div>
