<div class="home">
  <div class="home__video">
    <div class="home__video--overlay"></div>
    <video #videoPlayer autoplay muted loop playsinline poster="assets/images/featureHome.jpg">
      <source src="assets/videos/featureHome.mp4" type="video/mp4" />
      Your browser does not support this video.
    </video>
    <button class="play" (click)="handlePlayVideo()">
      <i class="material-icons">{{ play ? 'pause' : 'play_arrow' }}</i>
    </button>
    <button class="volume" (click)="handleVolumeVideo()">
      <i class="material-icons">{{ isMuted ? 'volume_off' : 'volume_up' }}</i>
    </button>
  </div>
  <div class="home__container responsive-container">
    <div class="home__container--featured">
      <span class="home__container--featured-title">Featured Movies</span>
      <ul class="home__container--featured-list">
        <li *ngFor="let movie of movies">
          <cine-corn-movie-card [movie]="movie" />
        </li>
      </ul>
    </div>
  </div>
</div>
