@use '../../../assets/styles/utils/variables' as colors;

:host {
  .snackbar-container {
    position: fixed;
    inset: 0;
    top: calc(70px + 24px);
    z-index: 9999;
    padding: 0 16px;

    .snackbar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 350px;
      min-height: 50px;
      padding: 10px 16px;
      border-radius: 6px;
      margin: auto;
      word-break: break-all;
      cursor: pointer;

      &.success {
        background-color: colors.$success-500;
        color: colors.$success-50;
      }

      &.error {
        background-color: colors.$error-500;
        color: colors.$error-50;
      }

      &.warning {
        background-color: colors.$warning-500;
        color: colors.$warning-50;
      }

      &.info {
        background-color: colors.$info-500;
        color: colors.$info-50;
      }
    }
  }
}
