@use './assets/styles/variables' as colors;
@use '@angular/material' as mat;
@use './assets/styles/m3-theme.scss' as m3-theme;
@import './assets/styles/functions';

@include mat.core();

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include mat.all-component-themes(m3-theme.$light-theme);
}

html,
body {
  height: 100%;
}

html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: colors.$primary-color;
}

a {
  color: colors.$primary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

.responsive-container {
  @include responsive-container();
}
