$background-color: linear-gradient(135deg, #001f3f, #0b0b0b);
$background-color-2: linear-gradient(135deg, #1a2a6c, #b21f1f, #eeda56);
$primary-color: #d3d3d3;
$secondary-color: #e0e0e0;
$tertiary-color: #001f3f;
$hover-color: #b21f1f;
$border-color: #eeda56;
