<ul class="list responsive-list">
  <li class="list__card loading" *ngFor="let item of countArray">
    <ngx-skeleton-loader
      count="1"
      animation="progress"
      [theme]="{
        position: 'absolute',
        inset: 0,
        width: 'auto',
        height: 'auto',
        marginBottom: 10,
        borderRadius: '10px',
        backgroundColor: 'rgba(255, 255, 255, 0.4)',
      }"
    />
    <ngx-skeleton-loader
      count="1"
      animation="progress"
      [theme]="{
        position: 'absolute',
        inset: 0,
        width: 'auto',
        height: 'auto',
        maxHeight: '20px',
        marginBottom: 0,
        borderRadius: '10px',
        backgroundColor: 'rgba(255, 255, 255, 0.4)',
      }"
    />
  </li>
</ul>
